###> IDE (SublimeText, Eclipse, Zend Studio, Netbeans, PHPStorm, TextMate2, Visual Studio Code) ###
Capfile
.buildpath
/.idea/
nbproject
.project
.settings
.sublime-project
TextMate2
.vscode
###< IDE ###

###> Docker config ###
/docker/bash/ssh/*
!/docker/bash/ssh/.gitignore
/docker/nginx/logs/access.log
/docker/nginx/logs/error.log
.env
###< Docker config ###

###> Symfony app ###
/app/
###< Symfony app ###
